{% macro form(types, card) %}
{% if request.endpoint == "admin.edit_bot" %}
    <h1 class='mb-3'>Редактирование бота</h1>
{% elif request.endpoint == "admin.create_bot" %}
    <h1 class='mb-3'>Создание бота</h1>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="InputName" class="form-label">Имя</label>
        <input type="text" name='NameBot' class="form-control" id="InputName" value="{{ card.NameBot or '' }}">
    </div>
    <div class="mb-3">
        <label for="InputNameForWhat" class="form-label">Для чего этот бот?</label>
        <input type="text" name='NameForWhat' class="form-control" id="InputNameForWhat" value="{{ card.NameForWhat or '' }}">
    </div>
    <div class="mb-3">
        <label for="types" class="form-label">Выберите типы (можно выбрать несколько, удерживая Ctrl)</label>
        <select id="types" name="types" class="form-select" multiple aria-label="Multiple select example">
            {% for type in types %}
                <option value="{{ type.TypeName }}" {% if type.TypeName in card.types %} selected {% endif %}>{{ type.TypeName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="InputShortDescription" class="form-label">Краткое описание</label>
        <input type="text" name='ShortDescription' class="form-control" id="InputShortDescription" value="{{ card.ShortDescription or '' }}">
    </div>
    <div class="mb-3">
        <label for="InputDescription" class="form-label">Описание</label>
        <input type="text" name='Description' class="form-control" id="InputDescription" value="{{ card.Description or '' }}">
    </div>
    <div class="mb-3">
        <label for="InputDeveloper" class="form-label">Разработчик</label>
        <input type="text" name='Developer' class="form-control" id="InputDeveloper" value="{{ card.Developer or '' }}">
    </div>
    <div class="mb-3">
        <label for="InputCover" class="form-label">фотография бота</label>
        <input type="file" name="CoverImage" class="form-control" id="InputCover">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endmacro %}
