{% extends 'base.html' %}

{% block header_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block content %}
    <h1>Добро пожаловать на главную страницу!</h1>
    {% for card in cards %}
        <div class="d-flex">
            {% from 'card.html' import BotCard %}

            {{ BotCard(card)}}
            <div class="p-3 ">
                <button type="button" class="btn btn-danger" data-action={{url_for('admin.delete_bot', bot_id = card.BotID)}} data-bs-toggle="modal" data-bs-target="#deleteBot">Удалить</button>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for num_page in range(1, total_pages + 1) %}
            <li class="page-item {% if page == num_page %}active{% endif %}">
                <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block modal_windows %}
<div class="modal fade" id="deleteBot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление записи</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы действительно хотите удалить бота <span class="name-bot"><span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
          <form class="modal-form" method="post">
            <button type="submit" class="btn btn-primary">Да</button>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block script_link %}
    <script src="{{ url_for('static', filename='js/card.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete_bot.js') }}"></script>
{% endblock %}
