{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Логин: {{ review.Login }}</h5>
                    <p class="card-text">Оценка: {{ review.Rating }}</p>
                    <p class="card-text">Текст отзыва: {{ review.TextReviews | safe }}</p>
                    <p class="card-text">Отзыв на: {{ review.NameBot }}</p>
                    <p class="card-text">Отзыв отправлен: {{ review.PublicationDate }}</p>

                    <div class="d-flex mt-4">
                        <form action="{{ url_for('admin.approval', id_review=review.ReviewID) }}" method="post">
                            <button type="submit" class="btn btn-success">Одобрить</button>
                        </form>
                        <form action="{{ url_for('admin.reject', id_review=review.ReviewID) }}" method="post">
                            <button type="submit" class="btn btn-danger ms-3">Отклонить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
